html, body{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    scroll-behavior: smooth;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

#back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: fixed;
    height: 40px;
    z-index: 10;
    margin: 10px 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 1px 1px 2px rgba(187, 187, 187, 0.1);
}

#back img{
    width: 80%;
}

.container button a{
    text-decoration: none;
    color: black;
}

.slide-wraper {
    position: relative;
    max-width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
}

.slide {
    display: flex;
    aspect-ratio: 12/4;
    overflow-x:auto ;
    border-radius: 20px;
    box-shadow: 0 4px 5px 6px rgba(0,0,0,0.1);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

.slide img {
    flex: 1 0 100%;
    object-fit: contain;
    scroll-snap-align: start;
}

.header h1{
    width: auto;
    height: 50px;
    color: white;
    background-color: #00000062;
    padding: 5px 20px;
    border-radius: 12px;
}

.navi {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
    height: 20px;
}

.navi a span {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(195, 192, 192);
    border-radius: 50%;
}

.items{
    width: 80%;
}

.filter {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 50px;
    align-self: flex-start;
    display: block;
    width: 20%;
    height: 500px;
    margin-top: 10px;
    border-radius: 0 20px 20px 20px;
    background-color: rgba(128, 128, 128, 0.301);
}

.filter ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filter ul li {
    display: flex;
    width: 100%;
    gap: 5px;
}

.filter ul li a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.filter ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}


.filter img{
    width: 10%;
}

.product-header{
    width: 95%;
    margin: 40px auto 0px;
}

.nike-container,
.adidas-container,
.leather-container,
.crocs-container,
.flipflop-container,
.others-container{
    display: grid;
    gap: 20px;
    max-width: 100%;
    padding: 0 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 5px 6px rgba(0,0,0,0.1);
    border-radius: 12px;
    transition: 0.2s ease-in;
}

.product-card:hover{
    transform: translateY(-10px);
}

.product-card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.product-info{
    width: 90%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.product-price {
    width: 80%;
}

.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

    border-radius: 50%;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    transition: 0.1s ease-in;
}

.add-cart:hover{
    background-color: blue;
}
.product-price p{
    color: rgb(7, 240, 7);
    font-weight: bold;
}

.product-price p del{
    color: red;
    font-size: 12px;
}

#nike,
#adidas,
#leather,
#crocs,
#flipflop,
#others {
    scroll-margin-top: 30px; 
}

.main{
    display: flex;
    width: 100%;
}

.header {
    background-image: url("https://assets.gqindia.com/photos/6149a0eddbbfda083a649397/master/pass/top-image-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote{
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote h1{
    font-size: 20px;
}

#quote img{
    width: 5%;
}